*.egg-info
*.elc
*.mo
*.py[co]
*.sw[po]
*/settings/local.py
*~
.#*
.DS_Store
.buildout
.coverage
.emacs.d*
.ipython
.noseids
.virtualenvs
.zsh/cache
TAGS
build
build.py
docs/_gh-pages
pip-log.txt
settings/local.py
settings_local.py
test-potato
